.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.sn-game-over-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #46464646;

  .message {
    @extend .centered;
    display: block;
    width: 40%;
    min-width: 350px;
    height: 10%;
    min-height: 200px;

    border: 4px solid orange;

    background: #1e2b3c;
    color: white;

    & > * {
      margin: 5px auto;
      text-align: center;
    }

    h2 {
      margin-top: 10px;
    }

    .score-save-form {
      text-align: center;

      label, input, button {
        display: block;
        margin: 5px auto;
      }

      input[type="text"] {
        border: 1px solid orange;
        border-radius: 5px;
        padding: 2px 5px;
      }

      button {
        border: 1px solid orange;
        border-radius: 5px;
        background-color: #1e2b3c;
        padding: 4px 7px;
        color: white;
      }
    }
  }
}
