$square-size: 15px;

.plane-row:nth-child(even) .sn-square:nth-child(even),
.plane-row:nth-child(odd) .sn-square:nth-child(odd) {
  background-color: #1e2b3c;
}

.sn-square {
  background-color: #273546;
  height: $square-size;
  width: $square-size;
  float: left;

  &.has-food {
    background-color: #68a824 !important;
  }

  &.has-snake .square {
    width: 100%;
    height: 100%;
    margin: 1px;
    background-color: #ffa500 !important;
  }

}

