body {
  margin: 0;
  font-family: 'Montserrat', 'Calibri Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #273546;
  color: white;
}

#app {
  text-align: center;
  height: 100%;
}
